
  
 <div class="container">
   
    <div class="row border-bottom" style="padding: 1%">
        <div class="col-10">  <h4  >Workers List </h4>  </div>
        <div  class="float-right"> <a class="btn btn-primary "  [routerLink]="['/add-worker']">Add Worker</a></div>  
    </div>
    <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Visa Type</th>
          <th scope="col">Visa Expiry</th>
          <th scope="col">Date of Birth</th>
        </tr>
      </thead> 
    <tbody>   
          <tr *ngFor="let worker of workers">
              <th scope="row">{{worker.e_id}}</th>              
              <td>{{worker.f_name}}  {{worker.l_name}}</td>
              <td>{{worker.v_type}}</td>
              <td>{{worker.v_exp}}</td>
              <td>{{worker.d_o_b}}</td>              
           </tr> 
      </tbody>
    </table>
    </div>
  </div>