
  
 <div class="container">
    <div class="pb-2 mt-4 mb-2 border-bottom">
          <h4>Workers List </h4>    
    </div>
    <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Visa Type</th>
          <th scope="col">Visa Expiry</th>
          <th scope="col">Date of Birth</th>
        </tr>
      </thead> 
    <tbody>   
          <tr *ngFor="let worker of workers">
              <th scope="row">{{worker.e_id}}</th>              
              <td>{{worker.f_name}}  {{worker.l_name}}</td>
              <td>{{worker.v_type}}</td>
              <td>{{worker.v_exp}}</td>
              <td>{{worker.d_o_b}}</td>              
           </tr> 
      </tbody>
    </table>
    </div>
  </div>