<header id="head">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"[routerLink]="['dashboard']">Ngaituk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="navbar-toggler-icon">   
          <i class="fa fa-navicon"></i>
      </span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  TimeSheet 
                  <span class="sr-only">(current)</span></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" [routerLink]="['coming-soon']"  >Add</a>
                      <a class="dropdown-item" [routerLink]="['coming-soon']"> List</a>
                    </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contractors
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['add-contractor']">Add</a>
              <a class="dropdown-item" [routerLink]="['contractors']"> List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Workers
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['add-worker']">Add</a>
                  <a class="dropdown-item" [routerLink]="['workers']"> List</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jobs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['job-list']">Add</a>
                  <a class="dropdown-item" [routerLink]="['job-list']"> List</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Summary
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['coming-soon']">Add</a>
                  <a class="dropdown-item" [routerLink]="['coming-soon']"> List</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User/Site
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['coming-soon']">Add</a>
                <a class="dropdown-item" [routerLink]="['coming-soon']"> List</a>
              </div>
            </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          
          <button class="btn  my-2 my-sm-0 logout" type="submit">Logout</button>
        </form>
      </div>
    </nav>
</header>
  <section id="text">        
        <router-outlet></router-outlet>
  </section>